.checkbox_login{position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;}
.margin_form{margin-left: 25%;}
.margin_form2{margin-left: 8%;}
.content-wrapper{padding-top: 1%}
.box{padding: 10px;}
.box-title{float: left;font-size: 24px !important;}
.box{font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;}
.box-body{padding-top: 10px !important;text-align: left;}
.box-border{border-color: #bbbaba;border-width: 1px;border-style:solid;border-radius: 2px;padding: 10px;margin-bottom: 10px;}
.box-column{display: flex;flex-direction: column;}
.box-column h3{font-size: 18px; margin-top:6px; font-weight: bold;color: #535353; }
.table{width: 60% !important;max-width: 80% !important;}
.icon{font-size: 16px !important;margin-right: 10px;}
.right{float: right !important;}