.checkbox_login{position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;}
.margin_form{margin-top: 5%;margin-left: 25%;}
.margin_form2{margin-top: 2%;margin-left: 8%;}